    $header1: 2.5rem;
    $header2: 2rem;
    $header3: 2rem;
    $header4: 1.5rem;
    $text: 2rem;
    $a: 1.6rem;
    $main-color: rgb(37,37,37);
    $color: rgb(11,163,156);

@mixin flex ($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-content: $align;
    flex-direction: $direction;
}

@import "global";
@import "home";
@import "about";
@import "gallery";
@import "blog";
@import "contact"


